body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #0D2231;
    overflow: hidden;
}

div.main{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.sides{
    width: 50%;
    margin: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    /* background-color: #031323; */
}

.work-box{
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input{
    width: 100%;
    height: 70px;
    border-radius: 8px;
    background-color: #d6ebfa;
    width: 100hv;
    margin-top: 20px;
    font-size: 20px;
    padding-left: 20px;
    
}

button{
    height: 75px;
    width: 110px;
    margin-top: 20px;
    border-radius: 8px;
    margin-left: 20px;
    align-self:center;
    color: white;
    border: 0px;
    cursor:pointer;
    font-size: 20px;
    background-color: #E94560;
}
button:hover {
    background-color: #d61838;
  }
.history{
    top: 0;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(2, 26, 37, 0.815), 0 6px 20px 0 rgba(7, 35, 48, 0.815);
    background-color: #031323;
    padding: 10px;
    height: 100%;
}

.current-commands{
    display: flex;
    flex-direction: column;
    top: 0;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(2, 26, 37, 0.815), 0 6px 20px 0 rgba(7, 35, 48, 0.815);
    background-color: #031323;
    height: 100vh;
    padding: 0px 20px;
}

h2{
    color: white;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 8px;
}

div p{
    font-size: 15px;
    font-weight: 300;
    color: #b0b5b8;
    user-select: none;
}

p > span{
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
}

ol{
    max-height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Roboto Mono', monospace;
    list-style-type: none;
    bottom: 0;
    /* position: absolute; */
}

li {
    padding: 15px 15px;
    margin-right: 35px;
    font-size: 15px;
    border-bottom: 1px solid rgba(8, 33, 66, 0.712);
}

::-webkit-scrollbar {
    background-color: rgb(14, 30, 48);
    width: 10px;
    margin-left: 10px;
  }


.time{
    color: #464e57;
    font-family: 'Roboto Mono', monospace;
    margin-right: 10px;
    font-size: 13px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  .output{
    color: #464e57;
    font-size: 10px;
    padding: 10px 10px;
    margin-right: 35px;
    

    
  }
  .output:last-child{
      border-bottom: 1px solid rgba(8, 33, 66, 0.712);
  }